<template name="Blue-And-Gold-Painting">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Blue and Bold</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection1-painting.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$550.00</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Combining satiated hues of linen white artistically interwoven with blues and greys, Blue and Bold offers a striking piece of abstract art to adorn your walls. Blended colors cascade on the canvas offering a wide array of hues in a stunning composition.
                                Hand-painted canvas with metallic paint accents and visible texture.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                36"W x 50"H
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                L. Bodine grew up in the pastoral lands of Kentucky, using the colors and patterns in nature as his inspiration. As the oldest of nine children, he spent most of his time taking care of his younger brothers and sisters. During his spare time, he used art as an escape from his busy life.  Obsessed with the peace of mind that art gave him, he decided to pursue his career as an artist. Although he resides in Kentucky near his family, he spent most of his adult life traveling the country and soaking up all the inspirations.  L. Bodine continues to travel, spending his time with nature and studying the different palettes and shapes of the world as inspiration for new art.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
