<template name="Coen-Drum-Table">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Madison Park Coen Metal Eyelet Accent Drum Table</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection1-side-table.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$99.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                This silver metal with glass top accent table adds just the right amount of transitional appeal with its geometric styling.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                12.5" Wide x 18" Deep
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                            Shape: Round
                            Type: Accent Tables
                            Material: Metal, Glass
                            Style: Transitional
                            Assembly: Assembled
                            Exact Color: Pewter
                            Finish: Pewter Finish
                            Color: Grey
                            Set includes: One table
                            Finish: Pewter finish
                            Dimensions: 12.5 inches wide x 18 inches deep
                            Care instructions: Spot clean
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
