<template name="Masson-Hair-Pillow">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Masson Hair on Hide Pillow 18"</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection1-pillow4.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$129.95</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                With elevated style, our stunning Masson Hair on Hide Pillow will add sophistication and style to any room of your home. The front of the pillow feature color variations of grey, ivory and mocha to create visual interest while remaining neutral. The back of the pillow is solid black.
                                Handcraft from 100% cowhide.
                                Aptly sized at 18" x 18".
                                Includes a goose down insert.
                                To complete the look with our Masson Hair on Hide Rug or Masson Hair on Hide Pouf.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                18" x 18"
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Front - Hair on hide
                                Back - Leather
                                Goose down insert
                                Imported
                                Spot clean only
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
