<template name="Orchid">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Phalaenopsis Orchid Silk Flower Arrangement</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collection1-orchid.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$42.49</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                This Phalaenopsis orchid silk flower arrangement adds brightness and an elegant accent to any office or room. This plant looks great on a kitchen counter top, in the corner of the bath or in the bedroom and provides a softening effect in the room. White flowers that appear to be in bloom and lush green leaves create a natural look. This orchid complements any decor and is bursting with color and personality. Made with polyester, plastic and iron wire, this plant looks fresh and is easy to keep clean.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Plant Holder Dimensions: 4.5 inches high x 8.75 inches wide x 3.5 inches deep
                                Overall Dimensions: 16 inches high x 12 inches wide x 7 inches deep
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Materials: Polyester material, plastic, iron wire
                                Plant type: Phalaenopsis
                                Bursting with color and personality
                                Sure to stand out in any room or office
                                Enjoy it all year long
                                No maintenance required
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
