<template name="Plinth-Coffee-Table">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Reclaimed Russian Oak Plinth Square Coffee Table</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection1-coffee-table.jpeg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$2,000.00</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Belgian in inspiration, our table's simple form is the perfect foil for the rich character of oak timbers reclaimed from decades-old buildings in Russia. A substantial top rests on a squared plinth support – a rustic yet elegant presence. The solid wood planks are sanded and lightly waxed, but otherwise left unfinished, to let the beauty of the wood take center stage.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                36" sq., 14"H; 141 lbs.
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Handcrafted of solid reclaimed oak timbers from decades-old buildings in Russia
                                Rough-hewn planks are carefully hand-selected, planed and sanded
                                Tabletop bears the patina of reclaimed wood and is accented with distinctive nicks, exposed knots and imperfections that speak to the wood's provenance
                                By their nature, salvaged wood planks may be somewhat uneven, and may cup or bow slightly over time, further enhancing their rustic one-of-a-kind character; cracks will be present
                                This item is artisan crafted with meticulous care. Given its handmade and hand-finished nature, variations in the wood are to be expected and celebrated. Each item is unique and no two are exactly alike.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
