<template name="Plush-Indigo-Pillow">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Plush Indigo Pillow</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collection1-pillow3.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$19.95</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                This pillow is really, really plush. Soft, squishy, super-snuggly. Oh sure, it also looks great on a sofa or chair or bed. No question. But cuddle up to this baby and you're not getting up any time soon, man.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                20"W x 20"H
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Indigo
                                Polyester
                                Spot clean only
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
