<template name="Shaggy-Ivory-Pillow">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Shaggy Ivory Pillow</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collection1-pillow2.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$24.95</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Super-fluffy and fun-furry, our oh-so-cushy pillow invites you to sink into an ocean of softness. It's a cool addition that's sized just right for your favorite chair.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                16"W x 16"H
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Sand
                                Polyester
                                Dry clean only
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
