<template name="Silk-Plants">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Set of 3 Southwest Collection Agave Silk Plants</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collection1-suc.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$37.49</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Add Southwestern elegance to your home with this collection of agave plants. These agave plants include three different varieties that can beautifully complement your home.

                                Enjoy the look of houseplants without the need for a green thumb or any stringent upkeep requirements with these silk beauties. This pretty plant trio is just the thing for adding a touch of nature to your desk or table, and they're potted in attractive pots for added realism and aesthetic appeal.
                            </p>
                        </div>
                        <div class="product-dim">
                            <!-- <h3>Product dimensions</h3>
                            <p>
                                Length: 30 inches
                                Width: 30 inches
                                Height: 59 inches
                            </p> -->
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                            Materials: Polyester, plastic, iron wire
                            Plant type: Agave
                            Simple beauty of the Agave plant
                            Three different varieties of Agave
                            Show them together for impact
                            No maintenance required
                            Plant container: 3.5 inches in diameter x 2.75 inches high
                            Dimensions: 5.5 to 8.5 inches high x 5 to 5.5 inches wide x 3.5 to 5.5 inches deep
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
