<template name="Tripod-Floor-Lamp">
    <div class="container wrapper">
        <div class="page-title">
            <h2>3-Way 59-inch Tripod Floor Lamp, Brushed Steel</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collection1-lamp.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$50.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                This metal floor lamp features a tripod body and brushed steel finish with an ivory linen shade. Illuminate your living room, family room, or office with this modern styled tripod floor lamp. The light source is soft and the illumination provides ambient lighting. The 3-way tripod lamp comes with a 1-year limited warranty against defects in materials and workmanship. There is a 3-way rotary switch placed on the body of the socket offering three degrees of lighting from low, medium or high.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 30 inches
                                Width: 30 inches
                                Height: 59 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Number of Light: One (1) Light
                                Light Bulb Type: Incandescent
                                Bulb Wattage: 150-Watt
                                Shade Material: Linen
                                Lighting Type: Floor Lamp
                                Product Features: UL Listed
                                Material: Metal
                                Light Direction: Multi-directional
                                Height: 23 inches or more
                                Setting: Indoor
                                Switch Type: Rotary Switch
                                Lighting Style: Modern
                                Finish: Steel Finish
                                Width: 36 inches or more
                                Color: Silver
                                Dimensions: 30 inches long x 30 inches wide x 59 inches high
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
