<template name="Tripod-Floor-Lamp">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Anker Lumos LED Desk / Desk Lamp</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/anker-lamp.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$42.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Specs: Center Luminance (35cm) at highest level: 950lux(Min), Light Wattage: 8W, USB Output: 5V / 2A, Color temp: 2700-6500K, CRI >80, Lifespan: >35000hrs, Weight: 3.5lbs, Input: 100-240V.
                                Superior Light Quality: Enjoy comfortable, non-flickering light for stress-free productivity and down-time. Light emitting panel provides powerful yet even light without harsh glare or shadows.
                                Intelligent Features: Choose between 4 lighting modes (study, read, relax and bedtime) and 5 dimming levels. Adjustable lamp-arm with turnable base ensures you're able to get the perfect angle. Built-in USB port charges smartphones, tablets and e-readers at speeds of up 2 amps.
                                Economical and Environmentally Friendly: These power-saving LEDs last over 20 years, so you'll never have to change a bulb again. Solid base with non-slip material ensures strong overall stability.
                                What You Get: Anker LED Desk Lamp, AC adapter, welcome guide, our fan-favorite 18-month warranty and friendly customer service.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 17.6 inches
                                Width: 7.1 inches
                                Height: 3.1 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Solid base with non-slip material Led desk Lamp
                                non-flickering light for stress-free productivity and down-time table lamp
                                4 lighting modes (study, read, relax and bedtime) and 5 dimming levels led desk lamp
                                ower-saving LEDs last over 20 years
                                LED Lumens: 675lm×2 (35cm 850lux; 50cm 500lux), Light Wattage: 8W, USB Output: 5V / 2A, Color temp: 2700-6500K, CRI >80, Lifespan: >35000hrs, Weight: 3.5lbs, Input: 100-240V.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
