<template name="Venture-Sofa">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Ventura 2 PC Extra Deep Sofa</h2>
            <hr width="150px" />
            <a href="/modern-living">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection1-couch.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$2,398.00</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Grandiose in size, our clean-lined Ventura sofa was created for maximum style and deep-seated comfort. The low, deep bench cushions and plush pillows create an ideal lounging experience. The brushed steel base and legs provide a cool and modern twist on a classic silhouette.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                118''W x 59''D x 27''H
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Frame is constructed of kiln-dried hardwood with double-doweled, corner blocked, stapled and glued joinery.
                                All pieces include a brushed steel base with 5.5" tall legs.
                                Sinuous wire springs are used in the seat to provide comfort, superior suspension and durability.
                                Includes box bolster pillows and 3 (25"W x 25"H) box back pillows.
                                Made in the USA
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
