<template name="Header">
    <header>
        <a href="/">
            <div class="nav-title align-hor">
                <img src="../images/logo.svg" alt="The Design Co." />
                <h1>The Design Co.</h1>
            </div>
        </a>
        <div class="nav align-hor">
            <a href="/how"> <h2>How?</h2> </a>
            <!-- <a href=""> <h2>Portfolio</h2> </a> -->
            <a href="/collections"> <h2>Shop</h2> </a>
            <!-- <a href=""> <h2>Blog</h2> </a> -->
        </div>
    </header>
</template>
