<template name="Pricing">
    <div class="pricing-wrapper">
        <div class="packages">
            <div class="title">
                <h2>How do we make money?</h2>
                <hr width="120px" noshade />
            </div>
            <div class="text">
                <h3>We simply add a 5% fee on the cart total</h3>
                <p>
                    This fee helps us keep the site going. It also allows us
                     to bring you more and more features!
                </p>
                <div class="btn-wrapper">
                    <a href="/collections">
                        <div class="btn">
                            Shop
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
