<template name="Process">
    <!-- STEP ONE -->
    <div class="step">
        <div class="step-title">
            <h2>browse through our collections</h2>
            <hr width="150px" />
            <span>or</span>
            <a href="/upload">
                <h3>upload your own</h3>
            </a>
        </div>
        <div class="step-img">
            <img src="../images/collection-img.png" />
        </div>
    </div>
    <!-- STEP TWO -->
    <div class="step">
        <div class="step-title">
            <h2>pick the items you want</h2>
            <hr width="150px" />
        </div>
        <div class="step-img">
            <img src="../images/icons/product-img.png" />
        </div>
    </div>
    <!-- STEP THREE -->
    <div class="step" style="border-bottom: none">
        <div class="step-title">
            <h2>we will coordinate the purchasing, no matter the vendor</h2>
            <hr width="150px" />
        </div>
        <div class="step-img">
            <img src="../images/icons/process-img.png" />
        </div>
    </div>
</template>
