<template name="Canon-Printer">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Canon MG7720 Wireless All-In-One Printer</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/canon-printer.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$169.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Quick and Easy Wireless Setup
                                Mobile Device Printing: Easily print from your iPhone, iPad, Android or tablet
                                Powerful Printing options: Air print, Google Cloud Print, NFC, Mopria, Canon PRINT app and more
                                CD/ DVD Printing: Enjoy the ability to create CD or DVD labels
                                Print with a touch from NFC-enabled mobile devices
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Width: 14.6 inches
                                Depth: 17.2 inches
                                Height: 5.9 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                The PIXMA MG7720 is a Wireless Inkjet All-In-One printer delivering the superior quality you want in a printer with an easy to use 3.5-inch touch screen. It has so many ways to print and is packed with features such as AirPrint(1), Google Cloud Print(2), NFC(3), Mopria(4), and much more. Always be ready to print wirelessly(5) with automatic power on and a self-opening output tray, so you can print from whatever device is most convenient. It’s a perfect wireless(5) all-in-one printer that is easy to use and produces superior quality in photos and documents.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
