<template name="Elago-Mousepad">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Elago Aluminum Mouse Pad</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/elago-mousepad.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$29.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Strong and Durable : The elago aluminum pad is a highly stylish mouse pad, cut from a slab of aluminum. When designing the aluminum pad, elago kept the spirit of apple in mind to further accentuate your already sleek work space. This classy looking mouse pad was created with the same techniques used on aluminum for mac products.
                                Smooth Surface : The aluminum surface was ionized to create a even smoother surface then it was originally! The mouse with glide and move with ease over the surface of the aluminum pad. The aluminum pad will not only keep your pointer on the mark, but keep your work space looking crisp and clean.
                                Protective Rubber : Feet Four protective rubber feet were added on the bottom of the aluminum pad to keep it in place.
                                While you are navigating through the web or editing videos, your aluminum pad will stay stable and also offer some protection from scratching the surface of the table.
                                Made in Korea and design by elago in California
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 9.9 inches
                                Width: 7.7 inches
                                Height: 0.3 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                elago Aluminum Mouse Pad. We value the concepts of constant improvement, attention To detail, and versatility and apply them to all our designers, While keeping in mind the human element. We are sure That our value cover all necessity. We continuously explore And introduce the fresh ideas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
