<template name="Kallax-Shelf">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Kallax Shelf</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/kallax-shelf.png')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$49.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Particleboard, Fiberboard, Acrylic paint, Paper, ABS plastic
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Width: 30 3/8 "
                                Depth: 15 3/8 "
                                Height: 30 3/8 "
                                Max load/shelf: 29 lb


                                Width: 77 cm
                                Depth: 39 cm
                                Height: 77 cm
                                Max load/shelf: 13 kg
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                - You can use the furniture as a room divider because it looks good from every angle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
