<template name="Microsoft-Mouse">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Microsoft Arc Touch Mouse</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/microsoft-mouse.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$40.98</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Flexible Design - Curve for comfort, flatten to pack.
                                Touch to Scroll - Click. Tap. Flick. Control.
                                BlueTrack Technology - Works on difficult surfaces - rough, glossy, or soft. Not Bluetooth compatible
                                Perfectly Portable - Storable Nano Transceiver for wireless freedom.
                                Connectivity: USB
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 5.1 inches
                                Width: 2.2 inches
                                Height: 0.6 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Curve for Comfort, Flatten to Pack. Experience the Arc Touch: there is no equal in look, feel, and performance. With a dramatic design and easy elegance, this stylish mouse is a perfect fit for your lifestyle. Flick to zip down the page. Tap to stay at your destination. Feel the speed and responsiveness to your touch.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
