<template name="Rain-Design">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Rain Design i360</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/rain-design.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$44.88</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Share the screen easily with your friends and coworkers.
                                Connect to the ports on the side/back of your iMac easily.
                                Silver finish complements the Apple iMac aluminum
                                Raises the screen .5 inches
                                Compatible with iMac 24-inch, 27-inch, and Thunderbolt Display 27-inch
                                Other model available for smaller iMac
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 11 inches
                                Width: 9.8 inches
                                Height: 1 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                The i360 aluminum turntable is now available for the iMac 24" and 27". The i360 turntable provides an elegant and dynamic way to turn your iMac. Share ideas with others at the push of a finger and access the back ports easily. Other models available for 17" & 20" in white and aluminum color.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
