<template name="Sabrent-Hub">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Sabrent 4-Port USB 3.0 Hub</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/sabrent-usb-hub.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$29.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                No more banding yourself to strange angle just for plugging a USB device onto your iMac
                                Brings four more USB ports to the front side
                                Easy to set up. Plug & Play, Hot-Swappable
                                Exclusively designed for the iMac Slim Unibody model released November 2012 or later. (21 inch / 27 inch / 5K)
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 3.7 inches
                                Width: 1.6 inches
                                Height: 2.8 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                No more need to twist cables to get to the ports vertically, Now you can easily access 4 ports at an ergonomic angle!
                                The USB 3.0 Hub adds four additional USB ports to your iMac, allowing you to connect USB devices such as digital cameras, phones, external hard drives, flash drives, and printers to one convenient place. Its sleek design the perfect complement to your iMac computer. It does not require any software or complicated installation process. With a slim design, it saves you precious desktop space.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
