<template name="Alex-Desk">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Alex Desk</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/alex-desk.png')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$169.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Main parts/ Drawer front: Particleboard, Acrylic paint, Foil, ABS plastic
                                Drawer side: Particleboard, Foil
                                Drawer bottom: Fiberboard, Acrylic paint
                                Underframe: Steel, Pigmented epoxy/polyester powder coating
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Width: 51 5/8 "
                                Depth: 23 5/8 "
                                Height under furniture: 24 3/8 "
                                Height: 29 7/8 "


                                Width: 131 cm
                                Depth: 60 cm
                                Height under furniture: 62 cm
                                Height: 76 cm


                                This product requires assembly
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                - Built-in cable management for collecting cables and cords out of sight but close at hand.
                                - Drawer stops prevent the drawers from being pulled out too far.
                                - Can be placed anywhere in the room because the back is finished.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
