<template name="Blue-Yeti">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Blue Yeti Microphones - whiteout</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/blue-yeti-whiteout.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$128.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Tri-capsule array - 3 condenser capsules can record almost any situation
                                Multiple pattern selection - cardioid, bidirectional, omnidirectional & stereo
                                Gain control, mute button, zero-latency headphone output
                                Perfect for vocals, musical instruments, podcasting, voiceovers, interviews, field recordings, conference calls
                                Plug 'n play - Mac OS X (10.4 11 or higher) and PC (Windows 8.7, 8, 7, Vista, XP)
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 4.9 inches
                                Width: 4.7 inches
                                Height: 11.6 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Yeti is the most advanced and versatile multi-pattern USB microphone available anywhere. Combining three capsules and four different pattern settings, Yeti is the ultimate tool for creating amazing recordings, directly to your computer. With all new total whiteout finish, Yeti Whiteout adds style and energy to your recording or broadcasting setup. Now you can capture anything with a clarity and ease unheard of in a USB microphone. Featuring Blue's innovative triple capsule array, Yeti can record in stereo or your choice of three other unique patterns, including cardioid, omnidirectional, and bidirectional. Utilizing a high quality A-D converter, a built-in headphone amplifier for zero-latency monitoring, and direct controls for headphone volume, pattern selection, instant mute, and microphone gain. With no drivers to install, Yeti Whiteout is the most versatile USB mic lighting up the airwaves today.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
