<template name="Bose-Headphones">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Bose QuietComfort 25 Acoustic Noise Cancelling Headphones</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/bose-headphones.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$299.00</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                Significant noise reduction for travel, work and anywhere in between
                                Deep, powerful sound for the music you love
                                Lightweight, comfortable around-ear fit you can wear all day long
                                Control your music and calls on Apple devices with inline mic/remote
                                Distinctive design in Black or White with carrying case included
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 1.8 inches
                                Width: 6 inches
                                Height: 7.5 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                QuietComfort 25 Acoustic Noise Cancelling headphones are the best-performing around-ear headphones from Bose. They give you crisp, powerful sound--and quiet that lets you hear your music better. Bose advances their industry-leading headphones with the latest proprietary Bose Active EQ and TriPort technology, giving the music you love deep, clear sound. At the same time, Bose noise cancelling technology monitors the noise around you and cancels it out, helping you focus on what you want to hear--whether it’s your music, your calls or simply peace and quiet. With a distinctive design and two color options to match your style, these headphones look as good as they sound. They’re also comfortable, durably made and easy to stow, with earcups that pivot to fit in a small carrying case. Customized for Apple devices. Included: QuietComfort 25 headphones; 56-inch QC25 inline remote and microphone cable; airline adapter; carrying case; AAA battery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
