<template name="Elago-Stand">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Elago® M2 Stand</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/elago-m2-stand.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$19.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                MODERN STAND FOR A MODERN ERA : The elago M2 Stand has a solid aluminum construction designed for smart phones. The new Champagne Gold color was implemented to give a more luxurious feel.
                                COMPATIBILITY : The elago M2 Stand is compatible with all smart phones; iPhones, Galaxy smartphones, etc. are compatible. All elago cases and most other smart phone cases are compatible with the elago M2 Stand.
                                THE PERFECT ANGLE : Your smartphone will sit perfectly in the M2 Stand to receive incoming video calls, watch movies, etc. without the hassle of having to handle your phone.
                                PERKS OF THE DESIGN : The Cable Management on the back of the M2 Stand allows you to neatly organize your cables when recharging the battery or for data transfer to your smart phone.
                                Design by elago in California and made in Korea.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 4.9 inches
                                Width: 4.5 inches
                                Height: 3.3 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Organizes your desk and enables full access to your smart phone features easily.
                                Elago M2 Mobile Stand design is adaptable with a variety of hard cases.

                                Features
                                -MODERN STAND FOR A MODERN ERA : The elago M2 Stand has a solid aluminum construction designed for smart phones.
                                The new Champagne Gold color was implemented to give a more luxurious feel.
                                -COMPATIBILITY : The elago M2 Stand is compatible with all smart phones; iPhones, Galaxy smartphones, etc. are compatible.
                                All elago cases and most other smart phone cases are compatible with the elago M2 Stand.
                                -THE PERFECT ANGLE : Your smartphone will sit perfectly in the M2 Stand to receive incoming video calls, watch movies, etc. without the hassle of having to handle your phone.
                                -PERKS OF THE DESIGN : The Cable Management on the back of the M2 Stand allows you to neatly organize your cables when recharging the battery or for data transfer to your smart phone.
                                -Design by elago in California and made in Korea.

                                Compatible with
                                -iPhone 6/6 Plus, iPhone 5/5s, iPhone 4/4s, iPhone 3g/3gs, iPhone
                                -Galaxy s4/s3/s3/s, Galaxy note3/note2/note
                                -All smartphones 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
