<template name="Headphone-Stand">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Just Mobile HS-100GD HeadStand</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/headphone-stand.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$49.95</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                High-quality aluminum construction
                                Simple assembly
                                Integrated cable tidy
                                Compatible with all headphones with headband
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 5.1 inches
                                Width: 1 inches
                                Height: 5.1 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Just Mobile Head Stand is the perfect place to hang your high-design headphones. Precision engineered from aluminum, this desktop stand keeps your prized headphones on display - and within easy reach. Headstand's dual-layered aluminum base even features a storage space for your headphone cable - keeping your desk tidy and your music only a moment away.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
