<template name="Jackery-Battery">
    <div class="container wrapper">
        <div class="page-title">
            <h2>Jackery Giant+ Premium 12000 mAh Dual USB Portable Battery</h2>
            <hr width="150px" />
            <a href="/tld-dreamdesk">
                <div class="back btn">
                    <img src="../images/icons/back-arrow.svg" /> Back
                </div>
            </a>
        </div>
        <div class="container wrapper">
            <div class="row margin-top">
                <div class="col-md-7">
                    <div class="product-image" style="background-image: url('../images/collections/collection2/portable-battery.jpg')">image</div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2>Product details</h2>
                        <span>$23.99</span>
                        <div class="product-desc">
                            <h3>Product description</h3>
                            <p>
                                BATTERY PACK: Ultra high-capacity portable charger with dual USB ports of rechargeable battery power for simultaneous charging of your iPad, iPhone, Android devices.
                                COMPACT TRAVEL CHARGER: The world's largest capacity external battery pack and portable charger is perfect for long flights, road trips, or whenever you need to charge your iPhone, iPad, and other mobile devices.
                                SMARTPHONES & TABLETS: Portable battery charger can be used as Samsung Galaxy S5 charger, Samsung Galaxy S4 portable charger, iPhone 6+ portable charger, iPhone 6 charger, iPhone 5 charger, iPad charger, and much more.
                                POWERFUL PORTABLE CHARGER: Panasonic grade A Li-ion polymer cell and premium microchips create high-quality portable charger with 4 layers of smart safety protection circuit and lasts 500+ recharge cycles over the life of the battery.
                                EXTERNAL BATTERY: External battery package includes: Jackery Giant+ External Battery, premium Micro USB to USB 2.0 cable.
                            </p>
                        </div>
                        <div class="product-dim">
                            <h3>Product dimensions</h3>
                            <p>
                                Length: 3.1 inches
                                Width: 0.8 inches
                                Height: 4.3 inches
                            </p>
                        </div>
                        <div class="product-feat">
                            <h3>Key features</h3>
                            <p>
                                Jackery® Giant+
                                The world's largest capacity portable external battery with dual outputs designed for extending the battery life of your mobile devices on the go. It features high energy density battery technology, fast charging scheme, premium compact design, and smart safety built-in protection circuits.

                                Superior Quality
                                The Jackery battery charger takes everything that advances it to a new level. They are made with Panasonic Grade A Lithium-ion battery cells, aluminum metal case, and premium microchips, together with 4 layers of smart safety protection circuits, recharging more than 500 times over the life of the battery.

                                Convenient LED Indicator
                                You always know when it's fully charged and how much power it's available.

                                Popular Compatible Devices
                                Apple: iPhone SE 6 6Plus 5S 5C 5 4S 4 Air Mini iPod (Apple cable required)
                                Samsung: Galaxy S7 S6 S5 S4 Note 4 3 2
                                Others: Nexus / HTC One / Motorola Moto X / LG / Nokia Lumia / Most of Android Phones / Android Tablets / Google Glass / Blackberry / Sony Xperia / PSP / GoPro

                                Technical Specifications
                                Capacity: 12,000mAh
                                Input: 5V/1.5A
                                Input charging time: 10h via Standard USB or AC adapter (not included)
                                Output1: 5V/1A
                                Output 2: 5V/2.1A
                                Compact Dimensions: 4.3 x 3.1 x 0.8 inches
                                Weight: 10.4 ounce

                                Extended Warranty
                                At Jackery, we provide an 18-month warranty and customer-friendly support.

                                Suggestions and Tips
                                Charge the battery using the original AC adapter and USB charging cable of your mobile device. Recharge the battery about once a month to properly maintain the health of your battery.

                                Package Contents
                                Jackery Giant+ Battery Pack
                                Micro USB charging Cable
                                User Guide & Warranty
                                Thank You Card
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
