@import 'var'

h1,h2,h3,h4,body, html
    margin: 0
body,html
    font-size: 16px
.align-hor
    display: flex
    flex-direction: row
    align-items: center
.align-center
    display: flex
    align-items: center
    justify-content: center
.align-vertical
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
a
    color: inherit
    text-decoration: none
    &:hover
        color: inherit
        text-decoration: none
.btn
    background-color: $highlight
    border-radius: 2px
    padding: .2em 1.2em
    color: #fff
    font:
        family: $roboto
        size: 1.1rem
    box-shadow: 0 0 5px $shadow
    transition: all 0.2s ease-in-out
    &:hover
        background-color: darken($highlight, 5%)
        box-shadow: 0 5px 18px $shadow
        color: #fff
.back
    position: absolute
    left: 1.8em
hr
    background-color: $accent
    height: 2px
    margin: 5px
ul
    list-style: none
li
    text-decoration: none
.vertical-line
    font: 0/0 a
    text-shadow: none
    color: transparent
    height: 250px
    width: 1px
    background-color: $main
.page-title
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h2
        text-align: center
        font:
            size: 1.8rem
            family: $roboto
.wrapper
    position: relative
    margin-top: 2.5em
    padding-bottom: 1em
    max-width: 1200px
    width: 100%
.padding
    margin: 1.87em 0
.checkout-btn
    background-color: $highlight
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    position: fixed
    right: 1em
    bottom: 1em
    z-index: 999
    width: 65px
    height: 65px
    font-family: $opensans
    img
        width: 60%
        height: auto
    box-shadow: 0 0 8px $shadow
    font-family: $opensans
    transition: all 0.2s ease-in-out
    &:hover
        background-color: darken($highlight, 5%)
        box-shadow: 0 5px 18px $shadow
.margin-top
    margin-top: 1em
