@import 'var'
header
    box-shadow: 0 0 8px $shadow
    padding: .625em 1.2em
    display: flex
    flex-direction: row
    .nav-title, .nav
        a
            margin: 0 1.2em 0 0
    .nav-title
        img
            width: 45px
            height: auto
        h1
            font:
                family: $lato
                size: 2rem
            margin: 0 1.2em 0 .3em
            color: $main
    .nav
        h2
            font:
                family: $opensans
                size: 1.2rem
                weight: 300
            color: $main
.hero-image
    height: 65vh
    background:
        image: url('../images/hero-image.png')
        size: cover
        position: center
    .hero-text
        flex-direction: column
        height: 60%
        padding-top: 4em
        h2
            padding: 0
            margin: 0
            text-align: center
            font:
                family: $lato
                size: 2.8rem
                weight: bold
            color: #fff
        span
            font:
                family: $opensans
                size: 1.5rem
                weight: 300
            text-transform: uppercase
            color: #fff
        p
            font:
                family: $opensans
                size: 1.2rem
            color: #fff
            margin-top: 10px
        .btn-wrapper
            margin-top: 1em
.step
    position: relative
    height: 50vh
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1.5em
    border:
        bottom: solid
        width: thin
        color: $accent
    .step-title
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h2
            text-align: center
            font:
                size: 1.8rem
                family: $roboto
    .step-img
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-top: 1.5em
        img
            width: 65%
.pricing-wrapper
    width: 100%
    background:
        image: url('../images/pricing-bkg.png')
        size: cover
        position: center
    height: 50vh
    display: flex
    justify-content: center
    align-items: center
    .packages
        padding: 1em
        padding-bottom: 3em
        width: 650px
        background-color: rgba(255,255,255, 0.95)
        border-radius: 2px
        .title
            display: flex
            flex-direction: column
            align-items: center
            h2
                text-align: center
                font:
                    family: $lato
                    size: 2rem
                padding: 0
        .text
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin-top: 1em
            text-align: center
        .text h3
            font:
                family: $opensans
                size: 1.5rem
        .text p
            margin-top: 1.8em
            text-align: center
            max-width: 380px
            font:
                family: $opensans
                size: 1rem
                weight: 300
        .btn-wrapper
            margin-top: 1.8em
            .btn
                width: 150px
.works-wrapper
    background:
        image: url('../images/marble-bkg.png')
        size: cover
        position: center
    height: 35vh
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    .works
        width: 65%
        h2
            text-align: center
            font:
                family: $lato
                size: 2rem
        p
            text-align: center
            font:
                family: $lato
                size: 1.8rem
                weight: 300
        .works-icons
            margin-top: 2em
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-around
            .icon-text
                margin-top: 1.2em
                h3
                    text-align: center
                    font:
                        family: $opensans
                        size: 1.3rem
                p
                    margin-top: .35em
                    width: 200px
                    font:
                        family: $opensans
                        size: 1rem
                        weight: 300
#stuff, #wallet, #store
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
footer
    height: 30vh
    background-color: $main
    span
        color: #fff
// STORE STYLES
.collection-card
    position: relative
    background-color: #fff
    border-radius: 10px 2px 5px 2px
    box-shadow: 0 0 10px $shadow
    height: 350px
    .collection-image
        font: 0/0 a
        text-shadow: none
        color: transparent
        height: 60% !important
        border-radius: 10px 2px 0 0
        background:
            size: contain
            repeat: no-repeat
            position: top
    .collection-text
        padding: .5em
        h2
            font:
                family: $roboto
                size: 1.2rem
        p
            font:
                family: $opensans
                size: 1rem
                weight: 300
    .btn
        position: absolute
        right: 10px
        bottom: 10px
.product-title
    margin-top: 1.87em
    span
        color: $accent
        font:
            family: $opensans
            size: 1rem
.sub-text
    display: flex
    flex-direction: row
    position: relative
.price
    position: absolute
    right: 10px
    font:
        size: 1rem
        family: $lato !important
        weight: bold !important
    color: $accent !important
.collection-hero
    margin-top: 30px !important
    border-radius: 2px
    box-shadow: 0 0 15px $shadow
    font: 0/0 a
    text-shadow: none
    color: transparent
    height: 45vh !important
    background:
        size: cover
        repeat: no-repeat
        position: center
.product-image
    font: 0/0 a
    text-shadow: none
    color: transparent
    height: 40vh
    box-shadow: 0 0 10px $shadow
    border-radius: 5px
    background:
        size: contain
        repeat: no-repeat
        position: center
.product-details
    background-color: #fff
    // box-shadow: 0 0 5px $shadow
    border-radius: 5px
    padding: 0 1em
    display: flex
    flex-direction: column
    align-items: center
    h2
        text-align: center
        font:
            family: $lato
            size: 1.8rem
    span
        color: $accent
        margin-top: .2em
        font:
            family: $lato
            size: 1.4rem
            weight: 300
    .product-desc, .product-dim, .product-feat
        margin-top: 1.87em
        padding: 1em
        font:
            family: $opensans
            size: 1rem
        h3
            margin: .2em 0
            font:
                family: $lato
                size: 1.1rem
                weight: bold
