//iPhone 6
@media screen and (max-width: 435px)
    .btn
        font-size: 1rem !important
    .nav-title
        width: 100% !important
        align-items: center !important
        justify-content: center !important
        h1
            font-size: 1.5rem !important
        img
            width: 40px !important
    .nav
        display: none !important
    .hero-text
        span
            font-size: 1.2rem !important
        h2
            font-size: 1.5rem !important
            margin: .1em 0em !important
        p
            font-size: 1.2rem !important
    .steps-header, h2
        font-size: 1.5rem !important
    .step
        flex-direction: column !important
        height: 70vh !important
        padding: .3em !important
        justify-content: center !important
        img
            width: 220px !important
            margin-bottom: .3em !important
        .step-text
            text-align: center !important
            width: 100% !important
            align-items: center !important
            img
                position: absolute !important
                top: 1em !important
                left: 1em !important
                width: 35px !important
            h3
                font-size: 1.2rem !important
            p
                font-size: 1rem !important
                width: 100% !important
    .pricing-wrapper
        height: auto !important
    .vertical-line
        display: none !important
    .packages
        width: 100% !important
        border-radius: 0px !important
        .title, h2
            font-size: 1.5rem !important
        .package-lists
            flex-direction: column !important
    .full-package, .petitie-package
        width: 100% !important
    .petitie-package
        margin-top: 3em !important
    .works-wrapper
        height: auto !important
        .works
            width: 100% !important
            margin-top: 1em !important
            h2
                font-size: 1.5rem !important
            p
                font-size: 1rem !important
    .works-icons
        flex-direction: column !important
        img
            width: 60px !important
    #stuff,#wallet, #store
        margin: 1em 0 !important
