@media screen and (max-width: 380px)
    .nav-title
        width: 100% !important
        align-items: center !important
        justify-content: center !important
        h1
            font-size: 1.5rem !important
        img
            width: 40px !important
    .nav
        display: none !important
    .hero-text
        span
            font-size: 1.2rem !important
        h2
            font-size: 1.5rem !important
            margin: .3em 0em !important
        p
            font-size: 1.2rem !important
    .step
        flex-direction: column !important
        height: 70vh !important
        padding: .3em !important
        justify-content: center !important
        img
            width: 200px !important
            margin-bottom: .3em !important
        .step-text
            text-align: center !important
            width: 100% !important
            align-items: center !important
            img
                position: absolute !important
                top: .8em !important
                left: .8em !important
                width: 35px !important
            h3
                font-size: 1.2rem !important
            p
                font-size: 1rem !important
                width: 100% !important
